@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-body: #F3F5FC;
    --fuente: 'Inter', sans-serif;
    --colorFuente: #0A3871;
    --color-blanco: #FFF;
    --color-aside: #495057;
}
body{
    background-color: var(--color-body);
    padding: 1.5em 1em;
    font-family:var( --fuente);
    word-spacing:1px;
    
}

.imagen{
    width: 40px;
    height: 40px;
    margin-bottom: 2em;
}

.imagen img{
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.boton, textarea{
    border: none;
    background: none;
    display: block;
}

textarea{
    width:100%;
    height:100px;
    resize:none;
    color: var(--colorFuente);
    text-indent:center;
    text-align: center;
    border: 1px solid red;
}

::placeholder{
    font-size:1.5rem;
    text-align: center;
    color: var(--colorFuente);
    font-weight: bold;
}

textarea:focus{
    outline: none;
}

.boton {
    width: 100%;
    border: 1px solid var(--colorFuente);
    padding: 1.5em 0;
    border-radius: 1.5em;
    margin-bottom: 1.5em;
    color: var(--colorFuente);
}

.boton-azul{
    background-color: var(--colorFuente);
    color: var(--color-blanco);
}

.alerta{
    font-size:12px;
    line-height:4;
}

.img-alerta{
    vertical-align:middle;
}

.contenedor-derecho {
    height:auto;
    background-color: var(--color-blanco);
    border-radius: 1.5em;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.08);
    margin-top: 3.5em;
}

.aside{
    width: 100%;
    height: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
textarea{
    height: 100px;
    line-height: 1.7;
    margin-bottom: 2em;
    color: var(--color-aside);
    font-weight: bold;
    border: 1px solid red;
    
}
.boton-copiar{
    margin-bottom:0;
}