.ed-modal-container{
    background: #000;
    opacity: .9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    left: 0;
}

.ed-modal-container::before{
    content: "X";
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5em;
    opacity: .5;
    cursor: pointer;
    z-index: -1;
}

.ed-modal-content {
    background: #fff;
    width: 40%;
    max-width: 1000px;
    margin: auto;
}

